body {
  background-image: url("https://fondosmil.com/fondo/6738.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
